# Non-project-specific build files:
build.xml
local.properties
/gradlew
/gradlew.bat
/gradle
# Ant builds
ant-build
ant-gen
# Eclipse builds
gen
out
# Gradle builds
/build
platforms/android/.gradle/
platforms/android/CordovaLib/build/
platforms/android/assets/www/plugins
plugins/
platforms/android/platform_www/plugins
platforms/android/libs/*
platforms/android/res/xml/config.xml

